<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="./" class="header__logo">
                <img src="img/icons/logo1.svg" alt="">
            </a>
            <div class="header-menu">
                <ul>
                    <li>
                        <a href="./">
                            Проекты
                        </a>
                    </li>
                    <li>
                        <a href="./">Как мы строим</a>
                    </li>
                    <li>
                        <a href="./">
                            Почему выбирают меня
                        </a>
                    </li>
                    <li>
                        <a href="./">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="./">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__body">
                <div data-da=".header-menu, 992, first" class="header__right">
                    <div class="header__contacts">
                        <a href="tel:89003333838">8 900 333-38-38</a>
                        <span>c 8:00 до 22</span>
                    </div>
                    <a href="./" data-popup="#cons" class="btn">Получить консультацию</a>
                </div>
                <button type="button" class="header__burger">
                    <span class="icon-menu">
                        <span></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</header>