.block-intro {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: -120px;
        left: 0;
        width: 100%;
        height: calc(100% + 120px);
        object-fit: cover;
        z-index: 2;
        background: linear-gradient(
            360deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.08) 80.46%,
            rgba(255, 255, 255, 0.72) 89.46%,
            rgba(255, 255, 255, 0.8) 100%
        );
        @media (max-width: 992px) {
            display: none;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
        background:
            linear-gradient(
                270deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 47.37%,
                rgba(255, 255, 255, 0.8) 59.61%,
                #fff 100%
            ),
            linear-gradient(
                270deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 50.03%,
                rgba(255, 255, 255, 0.72) 53.68%,
                rgba(255, 255, 255, 0.9) 100%
            );
        @media (max-width: 992px) {
            display: none;
        }
    }
    // .block-intro__content

    &__content {
        position: relative;
        z-index: 15;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 26px 0px 60px 0px;
        @media (max-width: 992px) {
            flex-direction: column;
            justify-content: start;
            gap: 0px;
            padding: 0px 0px 0px 0px;
        }
    }

    // .block-intro__body

    &__body {
        flex: 0 1 600px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 992px) {
            flex: 1 1 auto;
            width: 100%;
            padding: 5px 0px 0px 0px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 6px;
            li {
                display: flex;
                align-items: center;
                gap: 20px;
                font-weight: 600;
                font-size: 18px;
                line-height: 167%;
                @media (max-width: 768px) {
                    gap: 15px;
                    line-height: 133%;
                }
            }
        }
    }

    // .block-intro__titles

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 23px;
        @media (max-width: 768px) {
            gap: 13px;
        }
        p {
            max-width: 490px;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            @media (max-width: 768px) {
                font-size: 18px;
                line-height: 144%;
                max-width: 100%;
            }
        }
    }

    // .block-intro__icon

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        flex: 0 0 26px;
        svg {
            fill: var(--02642b);
        }
    }

    // .block-intro__bg1

    &__bg1 {
        position: absolute;
        right: 0;
        top: 0;
        width: 60%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 1500px) {
            width: 80%;
        }
        @media (max-width: 992px) {
            position: relative;
            width: calc(100% + 140px);
            height: auto;
            margin: 0px -100px;
        }
    }
}
.block-intro-test {
    margin-top: 14px;
    padding: 20px 30px 25px 30px;
    width: 100%;
    max-width: 441px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    background: var(--ffffff);
    box-shadow: 0 5px 60px 0 rgba(14, 29, 14, 0.12);
    @media (max-width: 992px) {
        border-radius: 0px;
        max-width: calc(100% + 40px);
        width: calc(100% + 40px);
        margin: 0px -20px;
    }
    @media (max-width: 768px) {
        margin-top: 10px;
    }
    @media (max-width: 550px) {
        gap: 15px;
        padding: 20px;
    }
    .btn {
        width: 100%;
        background-color: #16783f;
    }
    // .block-intro-test__body

    &__body {
        display: flex;
        align-items: start;
        gap: 16px;
        @media (max-width: 550px) {
            gap: 15px;
        }
        svg {
            flex: 0 0 53px;
            fill: var(--02642b);
            margin-top: 5px;
            @media (max-width: 550px) {
                width: 36px;
                height: auto;
                flex: 0 0 36px;
            }
        }
        p {
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: rgba(14, 29, 14, 0.8);
        }
    }
}
.block-intro-descr {
    flex: 0 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    background: var(--ffffff);
    box-shadow: 0 5px 60px 0 rgba(14, 29, 14, 0.12);
    height: fit-content;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: -5px;
    @media (max-width: 992px) {
        height: auto;
        margin-bottom: 0px;
        flex: 0 1 auto;
        max-width: calc(100% + 40px);
        width: calc(100% + 40px);
        border-radius: 0px;
        margin: 0px -20px;
    }
    @media (max-width: 550px) {
        padding: 14px 20px 20px 20px;
    }
    // .block-intro-descr__top

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        @media (max-width: 550px) {
            flex-direction: column-reverse;
            justify-content: start;
            gap: 0px;
        }
    }

    // .block-intro-descr__title

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 167%;
        color: var(--0e1d0e);
        @media (max-width: 550px) {
            line-height: 122%;
        }
    }

    // .block-intro-descr__data

    &__data {
        font-weight: 700;
        font-size: 18px;
        line-height: 167%;
        text-align: right;
        color: var(--02642b);
        @media (max-width: 550px) {
            text-align: left;
        }
    }

    // .block-intro-descr__number

    &__number {
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: var(--02642b);
        span {
            font-size: 25px;
            position: relative;
            top: -15px;
        }
    }

    // .block-intro-descr__text

    &__text {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        margin-top: 10px;
        @media (max-width: 550px) {
            font-size: 13px;
            line-height: 154%;
            margin-top: 3px;
        }
    }
}
.block-descr-list {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 23px;
        li {
            flex: 0 1 auto;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 144%;
            gap: 12px;
            @media (max-width: 550px) {
                font-size: 14px;
            }
            svg {
                fill: var(--02642b);
            }
        }
    }
}

//========================================================================================================================================================

.block-about {
    padding: 15px 0px 0px 0px;
    position: relative;
    z-index: 10;
    @media (max-width: 1330px) {
        padding: 37px 0px 0px 0px;
    }
    // .block-about__content

    &__content {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        @media (max-width: 1330px) {
            flex-direction: column-reverse;
            justify-content: start;
            gap: 0px;
        }
    }

    // .block-about__right

    &__right {
        flex: 0 1 850px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 58px 0px 25px 0px;
        @media (max-width: 1330px) {
            padding: 0px 0px 0px 0px;
            flex: 0 1 auto;
        }
    }

    // .block-about__columns

    &__columns {
        display: flex;
        gap: 20px;
        @media (max-width: 1330px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            margin: 0px -20px;
            width: calc(100% + 40px);
        }
    }

    // .block-about__column

    &__column {
        flex: 1 0 341px;
        border: 1px solid #dae5df;
        border-radius: 10px;
        background: #f5f5f5;
        padding: 29px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media (max-width: 768px) {
            border-radius: 0px;
            padding: 20px 20px 30px 20px;
        }
        &.column-red {
            flex: 1 1 auto;
            background: #fdf7f7;
            border: 1px solid #f5e8e8;
            .block-about__name {
                span {
                    color: #c42d12;
                }
            }
            .icon-check {
                svg {
                    fill: #c42d12;
                }
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            @media (max-width: 768px) {
                gap: 11px;
            }
            li {
                display: flex;
                align-items: start;
                gap: 15px;
            }
        }
    }

    // .block-about__name

    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        span {
            color: var(--02642b);
        }
    }

    // .block-about__text

    &__text {
        margin: 5px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 1px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: rgba(14, 29, 14, 0.8);
        }
    }

    // .block-about__title

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 138%;
    }
}
.block-about-left {
    flex: 0 1 675px;
    position: relative;
    margin-left: -24%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (max-width: 1330px) {
        flex: 0 1 auto;
        min-height: 635px;
        margin-left: 0px;
        margin: 0px -20px;
        width: calc(100% + 40px);
    }
    @media (max-width: 359px) {
        min-height: 580px;
    }
    // .block-about-left__bg1

    &__bg1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 20px 20px 0;
        @media (max-width: 1330px) {
            border-radius: 0px;
        }
    }

    // .block-about-left__pic1

    &__pic1 {
        position: absolute;
        bottom: 10px;
        right: -19%;
        width: 117%;
        height: auto;
        @media (max-width: 1330px) {
            right: auto;
            max-width: 370px;
            width: 100%;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0px);
        }
    }

    // .block-about-left__body

    &__body {
        border-radius: 0 0px 20px 0;
        padding: 105px 18% 90px 30%;
        display: flex;
        flex-direction: column;
        gap: 11px;
        position: relative;
        z-index: 15;
        margin-top: auto;
        background: linear-gradient(180deg, rgba(14, 29, 14, 0) 0%, rgba(14, 29, 14, 0.6) 45.26%, #0e1d0e 100%);
        @media (max-width: 1560px) {
            padding: 105px 18% 90px 45%;
        }
        @media (max-width: 1330px) {
            padding: 105px 30% 90px 30%;
            border-radius: 0px;
        }
        @media (max-width: 768px) {
            padding: 55px 20px 25px 20px;
        }
    }

    // .block-about-left__name

    &__name {
        font-weight: 700;
        font-size: 26px;
        line-height: 138%;
        color: var(--ffffff);
    }

    // .block-about-left__subname

    &__subname {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #6fc266;
    }

    // .block-about-left__pic2

    &__pic2 {
        max-width: 136px;
        width: 100%;
        height: auto;
        margin-top: 13px;
    }
}
.block-about-descr {
    position: relative;
    z-index: 15;
    border: 1px solid var(--02642b);
    border-radius: 15px;
    background: var(--ffffff);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 33px 50px;
    margin-left: -170px;
    margin-top: -10px;
    @media (max-width: 1330px) {
        margin-left: 0px;
        margin-bottom: -80px;
    }
    @media (max-width: 768px) {
        padding: 20px 20px 30px 20px;
        flex-direction: column;
        gap: 20px;
    }
    // .block-about-descr__icon

    &__icon {
        @media (max-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        svg {
            fill: var(--02642b);
        }
    }

    // .block-about-descr__item

    &__item {
        padding: 0px 0px 0px 35px;
        border-left: 2px solid var(--02642b);
        display: flex;
        flex-direction: column;
        gap: 8px;
        @media (max-width: 768px) {
            border-left: none;
            border-top: 2px solid var(--02642b);
            padding: 20px 0px 0px 0px;
        }
        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 167%;
            color: rgba(14, 29, 14, 0.8);
            @media (max-width: 768px) {
                font-size: 14px;
                line-height: 143%;
            }
            span {
                font-weight: 600;
                font-size: 28px;
                line-height: 171%;
                color: var(--02642b);
                padding: 0px 5px;
                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 130%;
                }
            }
        }
    }

    // .block-about-descr__title

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 138%;
        }
    }
}

//========================================================================================================================================================

.block-benefits {
    background: #f7faf8;
    padding: 190px 0px 85px 0px;
    margin-top: -120px;
    @media (max-width: 1200px) {
        margin-top: 0px;
        padding: 50px 0px;
    }
    @media (max-width: 768px) {
        padding: 37px 0px 45px 0px;
    }
    // .block-benefits__content

    &__content {
        display: flex;
        gap: 50px;
        @media (max-width: 1200px) {
            flex-direction: column;
            gap: 40px;
        }
    }

    // .block-benefits__body

    &__body {
        flex: 0 1 630px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media (max-width: 1200px) {
            flex: 0 1 auto;
        }
        @media (max-width: 768px) {
            gap: 20px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            li {
                display: flex;
                gap: 15px;
                align-items: start;
                @media (max-width: 768px) {
                    gap: 12px;
                }
                p {
                    margin-top: 3px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 144%;
                    @media (max-width: 768px) {
                        margin-top: 4px;
                        font-size: 16px;
                        line-height: 138%;
                    }
                }
            }
        }
        .btn {
            padding: 10px 40px;
            margin-top: 19px;
            @media (max-width: 550px) {
                width: 100%;
                margin-top: 10px;
                padding: 10px 20px;
            }
        }
    }

    // .block-benefits__swiper

    &__swiper {
        flex: 0 1 610px;
        min-width: 0;
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media (max-width: 1200px) {
            flex: 0 1 auto;
            margin: 0px -20px;
            margin-top: 0px;
            width: calc(100% + 40px);
        }
        @media (max-width: 768px) {
            gap: 30px;
        }
    }

    // .block-benefits__slider

    &__slider {
        min-width: 0;
        width: 100%;
    }

    // .block-benefits__wrapper

    &__wrapper {
    }

    // .block-benefits__slide

    &__slide {
        display: flex;
        height: auto;
        border-radius: 20px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
